@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Serif&family=Ubuntu:wght@300&display=swap');
body{
    background-color: rgb(120, 110, 179);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display:flex;  
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('music.jpg');
}
.bottom{
 position: sticky;
 height: 130px;
 background-color: black;
 color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw ;
}